.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: calc((60 / 16 * 1rem)); }
  @media all and (min-width: 1379px) {
    .nav {
      height: calc((100 / 16 * 1rem)); } }
.logo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: calc((60 / 16 * 1rem));
  position: absolute;
  width: 100%;
  left: 0; }
  @media all and (min-width: 1379px) {
    .logo {
      height: calc((100 / 16 * 1rem));
      position: relative;
      width: auto;
      order: -1; } }
@media all and (min-width: 1379px) {
  .menu {
    flex-grow: 1; } }
