@import "../../../scss/utils/variables";
@import "../../../scss/utils/mixins";

.list {
  padding-left: 18px;
  @include mmin($laptop) {
    padding-left: 20px;
  }
  li {
    margin-bottom: 10px;
    font-size: 14px;
    @include mmin($laptop) {
      font-size: 18px;
      margin-bottom: 15px;
    }
    color: rgba(49, 67, 81, 0.75);
  }
  li::marker {
    color: #3760EF;
  }
}