.pContent {
  overflow: hidden;
  transition: height 0.3s ease-out; }
  .pContent p {
    margin: 0;
    padding: 0 0 calc((25 / 16 * 1rem)); }
    @media all and (min-width: 1024px) {
      .pContent p {
        padding: 0 0 calc((35 / 16 * 1rem)); } }
  @media all and (min-width: 1024px) {
    .pContentDissable {
      overflow: auto !important;
      height: auto !important; }
      .pContentDissable p:last-of-type {
        padding: 0; } }
.pBtn {
  margin: calc((20 / 16 * 1rem)) auto 0;
  display: block;
  cursor: pointer; }
  .pBtnActive {
    transform: rotateX(180deg); }
  @media all and (min-width: 1024px) {
    .pBtnDissable {
      display: none; } }
